legend {
	font-size: 18px;
	margin: 10px;
}

fieldset {
	margin: auto;
	width: 1024px;
}

fieldset a {
	margin-left: 5px;
}

input.choose {
        float: left;
        margin-left: 10px;
}

#formulaire {
	padding: 5px;
}

#formulaire label {
	display: block; 
	float: left;
	font-weight: bold;
}

label.normal {
	width: 200px;
	font-weight: bold;
}

label.date {
	width: 80px;
	
}

label.shoot {
	width: 80px;
}

input.shoot {
	margin-right: 37px;
}

.comm {
    float: left;
    margin-left: 50px;
}

#day {
	display: block;
	float: left;
	margin-left: 0px;
	
}

#month {
	display: block;
	margin-left: 50px;
	float: left;
}

#year {
	display: block;
	margin-left: 50px;
	float: left;
  
}

span {
	color: red;
	}
