
* {
	font-family: Veranda, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

body {
	border-top-width: 10px;
	border-right-width: 20px;
	border-bottom-width: 20px;
	border-left-width: 10px;
        margin-bottom: 20px;
	font-size: 75%;
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:link {
	color: blue;
	}
	
a:visited {
	color: blue;
	}
	
a:hover {
	color: purple;
	}  
	
a:active {
	color: purple;
	}

ul li {
	display: inline;
	list-style-type: none;
	background-repeat: no-repeat;
	background-position: 0% 100%;
	padding-left: 20px;	
	vertical-align: middle;
}

fieldset {
	border: 2px solid;
	width: 1024px;
	margin: auto;
        margin-bottom: 20px;
}

legend{
	margin: 10px;
	font-size: 15px;
	font-weight: bold;
        padding-bottom: 20px;
}

table {
	border: 1px solid;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

td {
	border: 1px solid;
	padding: 2px;
}

h1 {
    margin-left: 200px;
}

h2 {
    margin-left: 200px;
}

.droite {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 250px;
	word-wrap: break-word;
	float: left;
}

.contenu {
	margin-bottom: 5px;
	height: 15px;
	margin-left: 10px;
}

.tir {
    float: left;
    margin-top: 10px;
}

.soustitre {
    margin-left: 210px;
}